<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="home-container">
    <h1>¡Bienvenido a jitCall!</h1>
    <p>Inicia sesión para comenzar</p>

    <ion-button expand="full" routerLink="/login">
      Iniciar Sesión
    </ion-button>

    <ion-button expand="full" fill="outline" routerLink="/register" class="ion-margin-top">
      Registrarse
    </ion-button>
  </div>
</ion-content>

